.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44vw;
    padding: 16px; /* Добавляет отступы внутри блока */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; /* Плавное изменение тени */
}

/* При наведении увеличиваем тень для эффекта */
.input-wrapper:hover {
    box-shadow:inset 0 8px 16px rgba(0, 0, 0, 0.2); /* Более выраженная тень при наведении */
}

.input-element{
   width: 90%;
   margin: 6px;
   border-radius: 5px;
}

.input-element.error {
    border-color: #D20A11;
}

.input-wrapper span {
    color: #D20A11;
    font-family: 'Regular';
}

input {
    width: 90%;
    margin: 5px;
    padding: 7px;
}

.image-preview img {
    margin-top: 10px;
    max-width: 200px;
    height: auto;
}

