.book {
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Обязательное "прилипание" к секциям при скролле */
}
  

.item {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start; /* Секция будет "прилипать" сверху */
    transition: background-color 0.5s ease; /* Плавный переход для фона */
}


.reviews-item {
    z-index: 1;
}

.modal-menu-book {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/menu-book.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}

.stars-book-content {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../../images/gif_star-nato.gif");
    background-position: center;
    background-repeat: no-repeat;
}


.navigation-links{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-links-element {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
    height: 85%;
}

.blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    display: none; /* Скрыто по умолчанию */
    z-index: 5;
  }


.center {
    text-align: center;
}

.item-admin {
    background-color: rgb(146, 211, 241);
}


.item:nth-child(2) {
    overflow: hidden;
}

.item-catalog {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start; /* Секция будет "прилипать" сверху */
    transition: background-color 0.5s ease; /* Плавный переход для фона */
}

/* .item:nth-child(2) {
    background-color: rgb(255, 0, 13);
} */

/* .item:nth-child(4) {
    background-color: #FFB6B5;
} */

/* .item:nth-child(5) {
    background-color: rgb(40, 212, 6);
} */

/* .item:nth-child(5) {
    background-color: rgb(15, 15, 15);
} */

