
@font-face {
  font-family: "Bond";
  src: url("/public/fonts/ringbearmedium.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Regular";
  src: url("/public/fonts/Comfortaa.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body {
  width: 100%;         
  overflow-x: hidden;  
  margin: 0;           
  padding: 0;
}   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 0px;
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center
}

footer:hover {
  height: 10vh;
}
footer:active {
  height: 10vh;
}


header , footer {
  height: 5vh;
  width: 100%;
  border-radius: 15px;
  background-color: #E8FA93; 
  color: white;           
  display: flex;          
  align-items: center;    
  justify-content: center;
}

a {
  color: #000000;
  font-family: "Bond", serif;
  text-decoration: none;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .text-in-ball {
    width: 60%;
  }
  .squirrel-img {
    bottom: -11%;
    left: 9vw;
}
}

@media screen and (max-width: 1100px) {
  .text-in-ball {
    width: 667px;
  }
  .txt-bolus {
    font-size: 12px;
  }
  .squirrel-img {
    bottom: -15%;
    left: 9vw;
}
}

@media screen and (max-width: 915px) {
  .text-in-ball {
    width: 75%;
  }
  .malvina {
    right: 8vw;
    height: 34vh;
  }
  .txt-footer {
    bottom: 15vw;
    width: 50%;
}
  .squirrel-img {
    bottom: -6vw;
    left: 9vw;
  }
}

@media screen and (max-width: 815px) {
  
  .squirrel-img {
    bottom: -7vw;
    left: 9vw;
  }
}
@media screen and (max-width: 780px) {
.cube-wrapper {
  position: relative;
  display: flex;
  perspective: 1200px;
  width: 100%;
  height: 100%;
  z-Index: 1;
}
}
@media screen and (max-width: 730px) {
  h1 {
    font-size: 26px;    
  }
  .squirrel-img {
    bottom: -9vw;
    left: 9vw;
  }
  .text-in-ball {
    width: 74%;
  }
  .txt-bolus {
    font-size: 10px;
  }
  .slider-reviews-wrapper {
    top: 63%;
}
.btn-reviews-slider {
  width: 35px;
  height: 35px;
}
.epilogue-txt {
  width: 65%;
  font-size: 12px;
}
.txt-footer {
  bottom: 15vw;
  width: 50%;
  font-size: 25px;
}
.malvina {
  right: 7vw;
  height: 32vh;
}
}
@media screen and (max-width: 650px) {
  .squirrel-img {
    bottom: -11vw;
    left: 9vw;
  }
  .conteiner-image:nth-child(3) {
    right: 1%;
    top: 20%;
}
}

@media screen and (max-width: 600px) {
  .squirrel-img {
    bottom: -13vw;
    left: 9vw;
  }
  .book-present-wrapper {
    padding-bottom: 22%;
    justify-content: center;
  }
  .slider-reviews-wrapper {
    top: 57%;
  }
  .malvina {
    right: 3vw;
    height: 29vh;
  }
  .txt-footer {
    bottom: 15vw;
    width: 55%;
    font-size: 22px;
  }
}

@media screen and (max-width: 550px) {
  .squirrel-img {
    bottom: -15vw;
  }
  .conteiner-image:nth-child(3) {
    right: 1%;
    top: 40%;
}

}

@media screen and (max-width: 525px) {
  .squirrel-img {
    bottom: -16vw;
  }
  .book-present-wrapper {
    padding-bottom: 33%;
    justify-content: center;
  }
  .wizard-foto {
    width: 110px;
    height: 110px;
}
  .txt-bolus {
    font-size: 8px;
  }
  .slider-reviews-wrapper {
    top: 52%;
}
.title-reviews {
  top: 16%;
}
.btn-reviews-slider {
  width: 30px;
  height: 30px;
}
}

@media screen and (max-width: 490px) {
  .squirrel-img {
    bottom: -18vw;
  }
}
@media screen and (max-width: 460px) {
  .squirrel-img {
    bottom: -20vw;
  }
  .left {
    left: 7px;
  }
  .wizard-foto {
    width: 85px;
    height: 85px;
}
  .txt-bolus {
    font-size: 7px;
  }
  .bond {
    font-size: 22px;
  }

  .right {
    right: 7px;
  }

}
@media screen and (max-width: 420px) {
  .squirrel-img {
    bottom: -15vh;
  }
}

@media screen and (max-width: 400px) {
  .squirrel-img {
    bottom: -24vw;
  }
  .book-present-wrapper {
    padding-bottom: 57%;
    justify-content: center;
  }
  .cube-slider {
    height: 220px;
    max-width: 100%;
  }
  .swiper {
    width: 220px;
    margin-left: 8vw;
  }
}
@media screen and (max-width: 400px) {
  .balloon-button {
    font-size: 13px;
  }
  .squirrel-img {
    bottom: -15vh;
  }
}

@media screen and (max-width: 450px) {
  /* .cover-btn {
    width: 300px;
    height: 120px;
  } */

.cover-wrapper {
  background-position: center bottom -1px;
  background-repeat: no-repeat;
  background-size: 164% 38%;
  position: relative;
}
.rabbit-static {
  top: -221px;
  right: 60px;
}

.rabbit-book-img {
  display: flex;
  width: 230%;
  height: auto;
}
.butterfly-cover {
  width: 80px;
  height: 64px;
}
.butterfly-cover.move {
  animation: moveMobile 12s 0.3s linear forwards; /* Запуск анимации движения блока */
}
.butterfly-cover.back {
  animation: moveMobileBack 8s 1s linear forwards; /* Запуск анимации движения блока */
}
.butterfly-cover-static {
  top: 24%;
  right: 27%;
}

.butterfly-img-static {
  width: 70px;
}
.img {
  max-width: 80%;
}
.logo {
  height: 73%;
}
.cover-txt {
  margin-top: 50px;
  padding: 0px;
  width: 90%;
  font-size: 27px;
}

.cover-wrapper {
  align-items: center;    
}

.center {
  display: flex;
  position: absolute;
  top: 25%;
  left: 14%;
}
.button-ball-perfect {
  width: 238px;
  height: 54px;
  font-size: 19px;
  top: 51px;
  left: 0px;
  z-index: 5;
}

.right-tree-b {
  right: -46%;
}
.conteiners-images {
  position: absolute;
  bottom: 28px;
  width: 100%;
  height: 29%;
  display: flex;
  overflow-y: visible;
}

.tree-f-img {
  width: 41vw;
  height: 55vw;
  transition: transform 0.3s ease-in-out;
}
.left-tree-back {
  top: -2px;
  right: 101px;
}
.front-left-tree {
  top: -34px;
  right: 21px;
}

.front-left-right {
  top: -25px;
  right: 1px;
}

.tree-b-img {
  width: 294px;
  height: 333px;
  transition: transform 0.3s ease-in-out;
}
.btn-footer {
  width: 31%;
  height: 99%;
}
.img-link {
  max-width: 110%;
}
.book-present-wrapper {
  padding-bottom: 110%;
  justify-content: center;
}
/* cub*/

.swiper {
  width: 320px;
  height: 320px;
  margin-left: 0;
}
.cube-slider .swiper-slide img {
  width: 123%;
  max-width: 123%;
}

.stars-nato {
  left: 2%;
}

.book-presentation-page-wrapper {
  overflow: hidden;
}
.book-present-wrapper {
  padding-bottom: 17%;
}
.cube-top {
  top: -25%;
}

/* video */

.gif-Pinocchio {
  bottom: -11vw;
  left: 47%;
}

/* reviews*/

.stars-reviews {
  top: 41%;
  left: 209px;
  width: 30%;
  height: 13%;
}

.stars-reviews:nth-child(4) {
  top: 68%;
  left: 1%;
}

.stars-reviews:nth-child(3) {
  background-size: 15% 15%;
  top: 74%;
  left: 11%;
}
.background-balls {
  max-width: 100%;
  width: 100%;
  height: 106%;
}

.fon-reviews {
  background-size: 220% 85%;
}
.backgraund-reviews {
  background-size: 219% 111%;
}
.title-reviews {
  top: 23%;
  font-size: 24px;
  width: 86%;
}
.btn-reviews-slider {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.btn-slider-reviews {
  z-index: 2;
  max-width: 100%;
}

.slider-reviews-wrapper {
  width: 100%;
  height: 55%;
  top: 53%;
  left: 0;
}

/* cards books*/

.cards-book-wrapper {
  /* margin: 61px 10px; */
  width: 328px;
  height: 191px;
  display: flex;
  flex-direction: row;
  background-color: #F2FFD4;
  border-radius: 40px;
  padding: 10px;
  border: 5px solid #E1FA8E;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(240, 124, 123, 0.5);
  z-index: 2;
}
.cards-book-element:nth-child(1) {
  height: 100%;
  position: relative;
  width: 150px;
  border: 3px solid #E1FA8E;
  overflow: visible;
  border-radius: 20px;
  box-shadow: inset 0px 4px 8px rgb(240, 124, 123, 0.5);
  background-color: #ffffff;
}
.cards-book-element:nth-child(2) {
  width: 55%;
  height: 100%;
  display: flex;
  background-color: #F2FFD4;
  justify-content: flex-start

}
.front-txt {
  font-size: 38px;
}
.catalog-element {
  gap: 0px;
  margin: -10px 0 0 0;
}
.girlyandoch-ka {
  top: 40px;
  background-size: 132%;
}
.cards-book-wrapper {
  margin: 19px 10px;
}
.anchor {
  top: -23px;
  left: -209px;
  width: 0;
  height: 0;
}
.button-cards {
  width: 150px;
  height: 37px;
  font-size: 18px;
  top: 57px;
  left: 48px;
  z-index: 2;
}
.title-book {
  font-size: 20px;
  text-align: start;
  margin: 4px;
}
.cardsBook-img {
  max-width: 91%;
  width: 143px;
  height: auto;
  position: relative;
  left: 23px;
  top: 53px;
  transform: rotate(-15deg);
  z-index: 1;
}
.frame-book {
  height: 220px;
  width: 155px;
  position: absolute;
  top: -69px;
  left: -28px;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  /* background-color: aquamarine; */
  background: transparent;
}
.btn-catalog-more {
  max-width: 60%;
  bottom: -54px;
}
.btn-catalog-more img {
  top: 30px;
  left: -10px;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.btn-catalog-more img.pull {
  top: -62px;
  z-index: 1;
}

/* wizardsTeam */

.team-wizards-wrapper-row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.text-bolus-wizard {
  width: 65vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.wizard-foto-container {
  width: 26vw;
  height: 26vw;
}
.wizard-foto {
  max-width: 100%;
  width: 81px;
  height: 85px;
}
.txt-bolus {
  font-size: 10px;
}
.team-of-wizards-element {
  height: 34%;
  margin: 42px 0 0 0;
}
.wizards-backround-gif {
  position: absolute;
  top: -119px;
  left: 0;
  background-size: 184% 100%;
}
.wizards-backround-png {
  top: 489px;
  left: 0px;
  width: 360px;
  height: 327px;
  background-size: 122% 108%;
  z-index: 1;
}
.wizards-backround-png-mirror {
  top: 348px;
  left: -4px;
  width: 360px;
  height: 409px;
  transform: rotate(180deg);
  background-size: 156% 100%;
}

/* epilog */
.butterfly-non-stop {
  width: 120px;
  transform: scaleX(1);
  top: -243px;
  left: 5px;
  transform: rotate(340deg);
  z-index: 3;
}

.epilogue-txt {
  width: 89%;
  font-size: 16px;
}
.epilogue-wrapper {
  margin-top: 55px;
  background-position: center bottom -1px;
  background-repeat: no-repeat;
  background-size: 175% 32%;
}
.present {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.txt-footer {
  bottom: 25vw;
  width: 80%;
  font-size: 24px;
}
.malvina {
  right: 0vw;
  height: 49vh;
  z-index: 4;
}

/* modal-menu*/
/* .modal-menu-book {
  height: 81%;
  width: 98%;
  padding: 2px;
  border-radius: 8px;
} */
.modal-menu-book {
  display: none;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 96%;
  background-position: 14% -34%;
  background-size: 268% 104%;
  background-repeat: no-repeat;
  padding: 6px;
  border-radius: 8px;
  z-index: 10;
}
.book-content {
  transform: rotate(355deg);

}

.navigation-links-element {
  width: 34%;
  height: 74%;
}

.navigation-links {
  display: flex;
  width: 119%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.book-content {
  font-family: "Bond";
  font-size: 15px;
  font-stretch: normal;
  display: flex;
  /* text-align: center; */
  transition: transform 0.6s ease;
  justify-content: space-between;
}

/* footer */
/* admin */
.admin-txt-h2 {
  font-size: 18px;
}

.form-login {
  width: 224%;
}
.input-element {
  width: 100%;
  margin: 6px;
  border-radius: 5px;
}

.admin-txt-h2 {
  font-size: 12px;
}
.admin-element {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-element {
  display: flex;
  width: 100%;
  height: 187px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button-ball {
  position: relative;
  margin: 1px;
  width: 137px;
  height: 49px;
  line-height: 1.2em;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  background: radial-gradient(circle, #FFB7B6 0%, #FF938F 100%), linear-gradient(180deg, transparent 0%, #000000 100%), linear-gradient(90deg, #FFFFFF 0%, transparent 100%);
  border-radius: 40%;
  box-shadow: inset 0 -16px 23px rgba(0, 0, 0, 0.4), 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: perspective(200px) rotateX(1deg) rotateY(10deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: "Bond", serif;
  text-decoration: none;
  padding: 0 0;
  transform: scale(0.9);
  font-size: 11px;
}
.button-ball:active {
  font-size: 10px;
  transform: scale(1); /* Увеличение кнопки */
}

.button-ball:hover {
  font-size: 10px;
  transform: scale(1); 
}
.contener-add-book {
  flex-direction: column;
}
.input-wrapper {
  padding: 0px;
  width: 90%;
}

.blok-raw {
  flex-direction: row;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #DFF3FF;
  padding: 0px;
  max-width: 95vw;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview img {
  margin-top: 0px;
  max-width: 90px;
  height: auto;
}
.data-book-add-element {
  justify-content: flex-start;
}

.admin-element:nth-child(2) {
  height: 147%;
}

}
/* @media screen and (max-width: 345px) {
  .cover-txt {
    width: 72%;
}
  .conteiner-image:nth-child(3) {
    right: 8%;
    top: 44%;
}
.rabbit-book {
  width: 46vw;
}
  .squirrel-img {
    bottom: -16vh;
  }
  .team-of-wizards-element {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.mirrored-team-of-wizards-element {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.text-bolus-wizard-right {
  width: 100%;
}
.text-bolus-wizard {
  width: 100%;
}
.text-bolus-wizard-right {
  width: 100%;
  background-size: 113% 150%;
}
.text-bolus-wizard {
  width: 100%;
  background-size: 112% 143%;
}
}

@media screen and (max-width: 320px) {
  .btn-reviews-slider {
    width: 20px;
    height: 20px;
  }
  .btn-reviews-slider:hover img {
    transform: scale(1.1) translate(0, 0); 
}

.btn-reviews-slider:active img {
  transform: scale(0.70) translate(0, 0); 
}
}

@media screen and (max-width: 300px) {
  .cube-slider {
    height: 200px;
    max-width: 100%;
  }
  .cube-slider .cube-bottom p {
    font-size: 9px;
  }

  .swiper {
    width: 200px;
  }

  .cube-slider .cube-bottom {
    max-height: 70px;
  }
} */

