.contener-add-book {
    display: flex;
    
    justify-content: center;
    width: 100%;
    height: 100%;

}

.contener-info-static{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 85vh;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 4px 8px rgb(240, 124, 123, 0.5);
    text-align: center;
}

.data-book-add-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.data-book-add-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.statistica-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.statistica-element {
    display: flex;
    flex-direction: column;
    width: 83%;
    height: 16%;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 4px 8px rgba(15, 15, 15, 0.5);
    transition: transform 0.5s ease;

}
/* .statistica-element:nth-child(2) {
    background-color: aqua;
  
}
.statistica-element:nth-child(3) {
    background-color: rgb(60, 125, 245);
  
}
.statistica-element:nth-child(4) {
    background-color: rgb(0, 255, 136);
  
}
.statistica-element:nth-child(5) {
    background-color: rgb(166, 255, 0);
  
}
.statistica-element:nth-child(6) {
    background-color: rgb(255, 208, 0);
  
} */
.statistica-element:nth-child(2):hover,
.statistica-element:nth-child(6):hover,
.statistica-element:nth-child(5):hover {
    transform: rotate3d(0.9, 1.1, 0, 22deg);
}

.tablo-static {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 60%;
    border-radius: 30px;
    background-color: #DFF3FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistica-element-row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.inform-txt-statistica {
    font-size: large;
}